## Input

In [1]:
num_testdata=100
table_main='main' # name of maintable
table_keywords = 'keywords'
db = 'test.db'   # test.db

## Init

In [2]:
import pandas as pd

In [3]:
header = ['id','simid','mediawiki','path','date','moddate','type','tags']
header_keywords = ['main_id','key','val']

### random time

In [4]:
from random import randrange
from datetime import timedelta, datetime
import time

def random_date(start, end):
    """
    This function will return a random datetime between two datetime 
    objects.
    """
    delta = end - start
    int_delta = (delta.days * 24 * 60 * 60) + delta.seconds
    random_second = randrange(int_delta)
    return start + timedelta(seconds=random_second)

d1 = datetime.strptime('1/1/2016 1:30 PM', '%m/%d/%Y %I:%M %p')
d2 = datetime.strptime('1/1/2018 4:50 AM', '%m/%d/%Y %I:%M %p')

### random tags

In [5]:
def random_tags():
    "Returns a random tags"
    possible_tags=['important','pic','caco3','ubi','abc','rna','dna','surfactants','MetaDynamics']
    num_tags=randrange(0,5)  # number of tags
    tags=[]
    for _ in range(num_tags):
        i = randrange(0,len(possible_tags)-1)
        tag = possible_tags[i]
        tags.append(tag)
    tags=",".join(set(tags))
    return tags

### random type

In [6]:
def random_type():
    """returns a random type"""
    atuple=[
        '',
        'LAMMPS',
        'GROMACS',
        'PYTHON',
        'OVERVIEW',
    ]
    i = randrange(0,len(atuple)-1)
    return atuple[i]

## create data main

In [7]:
data=[]
for i in range(num_testdata):
    # setup data
    main={}
    main['simid']="MK{:04d}".format(i+1)
    main['mediawiki']="MK{:04d}".format(i+1)
    
    d=random_date(d1, d2)
    unixtime = time.mktime(d.timetuple())
    main['date']=d.strftime('%Y/%m/%d')
    main['moddate']=unixtime
    
    main['tags']=random_tags()
    main['type']=random_type()
    # create entry
    entry=[]
    for head in header:
        if head in main.keys():
            entry+=[main[head]]
        else:
            entry+=['']
    data.append(entry[1:])  # add entry to data

In [8]:
df_main=pd.DataFrame(data,columns=header[1:])
df_main

,simid,mediawiki,path,date,moddate,type,tags
0,MK0001,MK0001,,2017/04/05,1.491417e+09,,"abc,dna"
1,MK0002,MK0002,,2017/10/24,1.508822e+09,LAMMPS,
2,MK0003,MK0003,,2016/12/06,1.481000e+09,PYTHON,
3,MK0004,MK0004,,2017/11/04,1.509770e+09,,"important,caco3,abc"
4,MK0005,MK0005,,2016/01/28,1.453998e+09,,
5,MK0006,MK0006,,2016/10/29,1.477730e+09,PYTHON,
6,MK0007,MK0007,,2016/05/15,1.463304e+09,,
7,MK0008,MK0008,,2017/08/24,1.503584e+09,,
8,MK0009,MK0009,,2016/01/26,1.453838e+09,,"surfactants,important"
9,MK0010,MK0010,,2016/06/24,1.466733e+09,LAMMPS,"pic,ubi"
10,MK0011,MK0011,,2017/01/15,1.484482e+09,GROMACS,dna
11,MK0012,MK0012,,2016/02/14,1.455474e+09,LAMMPS,"surfactants,pic,caco3,ubi"
12,MK0013,MK0013,,2017/11/13,1.510591e+09,LAMMPS,important
13,MK0014,MK0014,,2016/11/24,1.480000e+09,LAMMPS,surfactants
14,MK0015,MK0015,,2016/03/16,1.458133e+09,GROMACS,"rna,pic,caco3,ubi"
15,MK0016,MK0016,,2016/08/11,1.470938e+09,LAMMPS,
16,MK0017,MK0017,,2016/11/11,1.478847e+09,GROMACS,ubi
17,MK0018,MK0018,,2016/06/05,1.465111e+09,,"rna,pic,ubi"
18,MK0019,MK0019,,2017/12/26,1.514288e+09,PYTHON,
19,MK0020,MK0020,,2016/02/02,1.454449e+09,PYTHON,
20,MK0021,MK0021,,2017/04/28,1.493369e+09,GROMACS,"rna,abc"
21,MK0022,MK0022,,2017/04/02,1.491155e+09,,surfactants
22,MK0023,MK0023,,2016/02/24,1.456271e+09,GROMACS,ubi
23,MK0024,MK0024,,2017/10/27,1.509076e+09,,"pic,dna"
24,MK0025,MK0025,,2017/03/02,1.488413e+09,,"important,caco3,ubi"
25,MK0026,MK0026,,2017/08/06,1.502037e+09,,"rna,pic"
26,MK0027,MK0027,,2017/03/21,1.490067e+09,PYTHON,"surfactants,pic,abc"
27,MK0028,MK0028,,2017/06/11,1.497148e+09,PYTHON,rna
28,MK0029,MK0029,,2017/12/20,1.513725e+09,GROMACS,"surfactants,important,dna"
29,MK0030,MK0030,,2017/04/10,1.491818e+09,GROMACS,"abc,dna"
...,...,...,...,...,...,...,...
70,MK0071,MK0071,,2016/04/13,1.460506e+09,GROMACS,important
71,MK0072,MK0072,,2017/01/31,1.485898e+09,,surfactants
72,MK0073,MK0073,,2016/12/29,1.483036e+09,,"surfactants,pic"
73,MK0074,MK0074,,2016/11/25,1.480053e+09,,"dna,pic,caco3"
74,MK0075,MK0075,,2017/03/10,1.489120e+09,,"rna,pic,caco3"
75,MK0076,MK0076,,2016/08/09,1.470714e+09,LAMMPS,"caco3,abc,dna"
76,MK0077,MK0077,,2017/05/03,1.493823e+09,LAMMPS,"caco3,dna"
77,MK0078,MK0078,,2017/12/26,1.514272e+09,,
78,MK0079,MK0079,,2017/12/19,1.513643e+09,PYTHON,
79,MK0080,MK0080,,2017/05/09,1.494322e+09,PYTHON,
80,MK0081,MK0081,,2017/11/13,1.510532e+09,LAMMPS,"rna,important"
81,MK0082,MK0082,,2016/10/07,1.475799e+09,GROMACS,"rna,important,abc"
82,MK0083,MK0083,,2016/07/09,1.468063e+09,PYTHON,"dna,ubi"
83,MK0084,MK0084,,2016/09/02,1.472791e+09,LAMMPS,"pic,caco3,ubi"
84,MK0085,MK0085,,2016/12/12,1.481563e+09,GROMACS,
85,MK0086,MK0086,,2017/03/22,1.490171e+09,PYTHON,"rna,caco3"
86,MK0087,MK0087,,2017/05/23,1.495564e+09,,
87,MK0088,MK0088,,2017/06/07,1.496823e+09,GROMACS,"surfactants,rna"
88,MK0089,MK0089,,2017/03/25,1.490406e+09,PYTHON,
89,MK0090,MK0090,,2017/04/30,1.493542e+09,LAMMPS,"dna,ubi"
90,MK0091,MK0091,,2017/10/01,1.506888e+09,GROMACS,pic
91,MK0092,MK0092,,2016/09/27,1.474946e+09,GROMACS,"surfactants,abc,pic"
92,MK0093,MK0093,,2017/01/31,1.485879e+09,PYTHON,dna
93,MK0094,MK0094,,2017/12/14,1.513252e+09,LAMMPS,ubi
94,MK0095,MK0095,,2017/12/11,1.513018e+09,,"surfactants,pic"
95,MK0096,MK0096,,2016/10/12,1.476286e+09,,"abc,caco3"
96,MK0097,MK0097,,2017/05/26,1.495831e+09,LAMMPS,surfactants
97,MK0098,MK0098,,2017/04/29,1.493479e+09,,ubi
98,MK0099,MK0099,,2017/09/21,1.506026e+09,PYTHON,"surfactants,rna,pic,ubi"
99,MK0100,MK0100,,2017/08/14,1.502706e+09,LAMMPS,"rna,important,abc,ubi"

## create data keywords

In [9]:
def random_keywords():
    """returns a dict of random keywords"""
    atuple=[
        ['linker','a'],
        ['linker','b'],
        ['linker','c'],
        ['linker','d'],
        ['pH','7'],
        ['pH','8'],
        ['pH','9'],
        ['Temp','300'],
        ['Temp','500'],
        ['concentration','1'],
        ['concentration','2'],
    ]
    num_keys=randrange(0,5)  # number of keys
    keywords={}
    for _ in range(num_keys):
        i = randrange(0,len(atuple)-1)
        t = atuple[i]
        keywords[t[0]]=t[1]
    return keywords

In [10]:
data=[]
for i in df_main.index:
    keywords=random_keywords()
    for k,v in keywords.iteritems():
        data.append([i,k,v])

In [11]:
df_keywords=pd.DataFrame(data,columns=header_keywords)
df_keywords

     main_id            key  val
0          0           Temp  300
1          1             pH    7
2          1           Temp  500
3          3         linker    c
4          4             pH    7
5          4         linker    a
6          5  concentration    1
7          5           Temp  500
8          6             pH    8
9          6  concentration    1
10         7  concentration    1
11         7         linker    d
12         7             pH    8
13         9         linker    a
14        10             pH    9
15        10         linker    b
16        10  concentration    1
17        10           Temp  300
18        11             pH    8
19        14         linker    a
20        15  concentration    1
21        15             pH    9
22        15           Temp  300
23        16             pH    7
24        16         linker    c
25        17  concentration    1
26        17             pH    9
27        17           Temp  500
28        18             pH    8
29        18         linker    d
..       ...            ...  ...
128       83             pH    7
129       83           Temp  500
130       85             pH    8
131       85  concentration    1
132       85           Temp  500
133       86         linker    c
134       86           Temp  500
135       88         linker    d
136       88           Temp  500
137       89         linker    d
138       89           Temp  300
139       90         linker    b
140       91             pH    8
141       92  concentration    1
142       92         linker    b
143       92           Temp  500
144       93  concentration    1
145       93         linker    c
146       94  concentration    1
147       94         linker    b
148       94             pH    8
149       95             pH    8
150       95         linker    b
151       96             pH    9
152       96         linker    c
153       96  concentration    1
154       97         linker    b
155       97           Temp  500
156       99         linker    a
157       99           Temp  500

[158 rows x 3 columns]

## Save table

In [12]:
from sqlalchemy import create_engine
import os

In [13]:
if os.path.exists(db): # check if old
    os.remove(db) # remove

### save main

In [14]:
table = table_main  # set table name
df    = df_main     # set dataframe
kwargs={}
defaults={'if_exists' : 'replace'}
kwargs=dict(defaults,**kwargs)

In [15]:
# create the engine    
engine = create_engine('sqlite:///{}'.format(db))
# save dataframe        
df.to_sql(table,engine,**kwargs)

### save keywords

In [16]:
table = table_keywords  # set table name
df    = df_keywords     # set dataframe
kwargs={}
defaults={'if_exists' : 'replace'}
kwargs=dict(defaults,**kwargs)

In [17]:
# create the engine    
engine = create_engine('sqlite:///{}'.format(db))
# save dataframe        
df.to_sql(table,engine,**kwargs)