## Input

In [144]:
num_testdata=100
table_main='main' # name of maintable
table_keywords = 'keywords'
db = 'test.db'   # test.db

## Init

In [88]:
import pandas as pd

In [139]:
header = ['id','simid','mediawiki','path','date','moddate','tags']
header_keywords = ['main_id','key','val']

### random time

In [90]:
from random import randrange
from datetime import timedelta, datetime
import time

def random_date(start, end):
    """
    This function will return a random datetime between two datetime 
    objects.
    """
    delta = end - start
    int_delta = (delta.days * 24 * 60 * 60) + delta.seconds
    random_second = randrange(int_delta)
    return start + timedelta(seconds=random_second)

d1 = datetime.strptime('1/1/2016 1:30 PM', '%m/%d/%Y %I:%M %p')
d2 = datetime.strptime('1/1/2018 4:50 AM', '%m/%d/%Y %I:%M %p')

### random tags

In [91]:
def random_tags():
    "Returns a random tags"
    possible_tags=['important','pic','caco3','ubi','abc','rna','dna','surfactants','MetaDynamics']
    num_tags=randrange(0,5)  # number of tags
    tags=[]
    for _ in range(num_tags):
        i = randrange(0,len(possible_tags)-1)
        tag = possible_tags[i]
        tags.append(tag)
    tags=",".join(set(tags))
    return tags

## create data main

In [105]:
data=[]
for i in range(num_testdata):
    # setup data
    main={}
    main['simid']="{:04d}".format(i+1)
    main['mediawiki']="{:04d}".format(i+1)
    
    d=random_date(d1, d2)
    unixtime = time.mktime(d.timetuple())
    main['date']=d.strftime('%Y/%m/%d')
    main['moddate']=unixtime
    
    main['tags']=random_tags()
    
    # create entry
    entry=[]
    for head in header:
        if head in main.keys():
            entry+=[main[head]]
        else:
            entry+=['']
    data.append(entry[1:])  # add entry to data

In [106]:
df_main=pd.DataFrame(data,columns=header[1:])
df_main

,simid,mediawiki,path,date,moddate,tags
0,0001,0001,,2016/05/04,1.462320e+09,"rna,abc,dna"
1,0002,0002,,2017/07/08,1.499473e+09,"rna,important,caco3"
2,0003,0003,,2016/08/23,1.471951e+09,"surfactants,rna,abc,important"
3,0004,0004,,2017/01/05,1.483609e+09,"important,caco3,ubi"
4,0005,0005,,2017/05/19,1.495202e+09,abc
5,0006,0006,,2016/02/27,1.456585e+09,
6,0007,0007,,2016/12/30,1.483139e+09,"pic,caco3"
7,0008,0008,,2016/08/26,1.472163e+09,"pic,dna,important"
8,0009,0009,,2017/05/29,1.496091e+09,"abc,ubi"
9,0010,0010,,2016/08/24,1.472073e+09,"surfactants,ubi"
10,0011,0011,,2016/10/28,1.477625e+09,pic
11,0012,0012,,2016/01/26,1.453847e+09,important
12,0013,0013,,2016/01/19,1.453164e+09,"surfactants,abc,important"
13,0014,0014,,2017/10/01,1.506883e+09,"surfactants,rna,important"
14,0015,0015,,2016/01/22,1.453466e+09,caco3
15,0016,0016,,2017/11/14,1.510637e+09,
16,0017,0017,,2017/08/30,1.504104e+09,"surfactants,pic,caco3"
17,0018,0018,,2017/12/24,1.514148e+09,rna
18,0019,0019,,2017/01/16,1.484599e+09,"surfactants,important,caco3,ubi"
19,0020,0020,,2017/11/18,1.510976e+09,"pic,caco3,important,dna"
20,0021,0021,,2017/12/24,1.514080e+09,rna
21,0022,0022,,2016/01/27,1.453902e+09,"surfactants,abc"
22,0023,0023,,2016/03/14,1.457944e+09,
23,0024,0024,,2017/07/13,1.499970e+09,"surfactants,rna,abc"
24,0025,0025,,2017/04/24,1.493065e+09,"pic,dna,important"
25,0026,0026,,2016/11/19,1.479573e+09,"dna,important,caco3,ubi"
26,0027,0027,,2016/07/12,1.468311e+09,"surfactants,rna,pic,ubi"
27,0028,0028,,2016/03/20,1.458483e+09,
28,0029,0029,,2017/02/19,1.487466e+09,"abc,dna"
29,0030,0030,,2016/06/10,1.465521e+09,"abc,caco3"
...,...,...,...,...,...,...
70,0071,0071,,2017/03/08,1.488956e+09,"surfactants,abc,caco3"
71,0072,0072,,2017/06/07,1.496820e+09,"surfactants,caco3"
72,0073,0073,,2017/11/08,1.510133e+09,"surfactants,pic"
73,0074,0074,,2017/08/26,1.503744e+09,surfactants
74,0075,0075,,2016/05/18,1.463536e+09,"caco3,dna"
75,0076,0076,,2016/05/29,1.464515e+09,"dna,abc,caco3"
76,0077,0077,,2016/03/22,1.458667e+09,"caco3,ubi"
77,0078,0078,,2016/04/07,1.460008e+09,surfactants
78,0079,0079,,2016/08/29,1.472506e+09,"rna,abc,dna"
79,0080,0080,,2016/09/19,1.474253e+09,pic
80,0081,0081,,2017/09/26,1.506397e+09,ubi
81,0082,0082,,2016/04/30,1.462005e+09,"important,pic"
82,0083,0083,,2016/04/22,1.461333e+09,ubi
83,0084,0084,,2017/06/20,1.497912e+09,abc
84,0085,0085,,2017/07/21,1.500594e+09,rna
85,0086,0086,,2017/02/14,1.487102e+09,"dna,ubi"
86,0087,0087,,2016/05/03,1.462236e+09,"surfactants,abc,caco3,ubi"
87,0088,0088,,2017/08/24,1.503582e+09,"surfactants,caco3,ubi"
88,0089,0089,,2017/09/30,1.506754e+09,"surfactants,caco3"
89,0090,0090,,2016/03/11,1.457719e+09,"surfactants,rna,caco3"
90,0091,0091,,2016/02/23,1.456206e+09,important
91,0092,0092,,2017/02/10,1.486704e+09,"important,pic,abc"
92,0093,0093,,2016/12/23,1.482520e+09,dna
93,0094,0094,,2017/03/25,1.490475e+09,"dna,ubi"
94,0095,0095,,2017/04/15,1.492235e+09,important
95,0096,0096,,2016/03/31,1.459428e+09,"rna,caco3"
96,0097,0097,,2017/01/30,1.485771e+09,"surfactants,rna,important"
97,0098,0098,,2016/09/01,1.472761e+09,abc
98,0099,0099,,2016/01/09,1.452357e+09,"pic,important,dna"
99,0100,0100,,2017/03/10,1.489173e+09,"rna,dna"

## create data keywords

In [123]:
def random_keywords():
    """returns a dict of random keywords"""
    atuple=[
        ['linker','a'],
        ['linker','b'],
        ['linker','c'],
        ['linker','d'],
        ['pH','7'],
        ['pH','8'],
        ['pH','9'],
        ['Temp','300'],
        ['Temp','500'],
        ['concentration','1'],
        ['concentration','2'],
    ]
    num_keys=randrange(0,5)  # number of keys
    keywords={}
    for _ in range(num_keys):
        i = randrange(0,len(atuple)-1)
        t = atuple[i]
        keywords[t[0]]=t[1]
    return keywords

In [136]:
data=[]
for i in df_main.index:
    keywords=random_keywords()
    for k,v in keywords.iteritems():
        data.append([i,k,v])

In [140]:
df_keywords=pd.DataFrame(data,columns=header_keywords)
df_keywords

     main_id            key  val
0          0             pH    9
1          0         linker    a
2          0           Temp  300
3          2         linker    d
4          3         linker    d
5          4           Temp  300
6          5         linker    d
7          5           Temp  300
8          6  concentration    1
9          7             pH    8
10         7         linker    c
11         8           Temp  500
12         9             pH    9
13         9         linker    a
14        10  concentration    1
15        10         linker    b
16        10             pH    8
17        11             pH    8
18        11         linker    a
19        12             pH    7
20        12         linker    b
21        13             pH    9
22        14         linker    a
23        16             pH    8
24        16         linker    d
25        16           Temp  500
26        17             pH    9
27        17         linker    b
28        18  concentration    1
29        18         linker    c
..       ...            ...  ...
120       82             pH    9
121       82         linker    b
122       83             pH    9
123       83         linker    b
124       84         linker    a
125       84           Temp  500
126       85             pH    7
127       85  concentration    1
128       87         linker    b
129       87           Temp  300
130       88             pH    9
131       88           Temp  300
132       89         linker    b
133       91  concentration    1
134       91         linker    c
135       92  concentration    1
136       92             pH    8
137       93           Temp  300
138       94             pH    7
139       94  concentration    1
140       95  concentration    1
141       95         linker    d
142       96             pH    9
143       96         linker    b
144       96  concentration    1
145       97           Temp  500
146       98             pH    7
147       98         linker    c
148       99             pH    7
149       99         linker    a

[150 rows x 3 columns]

## Save table

In [148]:
from sqlalchemy import create_engine
import os

In [149]:
if os.path.exists(db): # check if old
    os.remove(db) # remove

### save main

In [150]:
table = table_main  # set table name
df    = df_main     # set dataframe
kwargs={}
defaults={'if_exists' : 'replace'}
kwargs=dict(defaults,**kwargs)

In [151]:
# create the engine    
engine = create_engine('sqlite:///{}'.format(db))
# save dataframe        
df.to_sql(table,engine,**kwargs)

### save keywords

In [152]:
table = table_keywords  # set table name
df    = df_keywords     # set dataframe
kwargs={}
defaults={'if_exists' : 'replace'}
kwargs=dict(defaults,**kwargs)

In [153]:
# create the engine    
engine = create_engine('sqlite:///{}'.format(db))
# save dataframe        
df.to_sql(table,engine,**kwargs)