## Input

In [144]:
num_testdata=100
table_main='main' # name of maintable
table_keywords = 'keywords'
db = 'test.db'   # test.db

## Init

In [88]:
import pandas as pd

In [139]:
header = ['id','simid','mediawiki','path','date','moddate','tags']
header_keywords = ['main_id','key','val']

### random time

In [90]:
from random import randrange
from datetime import timedelta, datetime
import time

def random_date(start, end):
    """
    This function will return a random datetime between two datetime 
    objects.
    """
    delta = end - start
    int_delta = (delta.days * 24 * 60 * 60) + delta.seconds
    random_second = randrange(int_delta)
    return start + timedelta(seconds=random_second)

d1 = datetime.strptime('1/1/2016 1:30 PM', '%m/%d/%Y %I:%M %p')
d2 = datetime.strptime('1/1/2018 4:50 AM', '%m/%d/%Y %I:%M %p')

### random tags

In [91]:
def random_tags():
    "Returns a random tags"
    possible_tags=['important','pic','caco3','ubi','abc','rna','dna','surfactants','MetaDynamics']
    num_tags=randrange(0,5)  # number of tags
    tags=[]
    for _ in range(num_tags):
        i = randrange(0,len(possible_tags)-1)
        tag = possible_tags[i]
        tags.append(tag)
    tags=",".join(set(tags))
    return tags

## create data main

In [154]:
data=[]
for i in range(num_testdata):
    # setup data
    main={}
    main['simid']="MK{:04d}".format(i+1)
    main['mediawiki']="MK{:04d}".format(i+1)
    
    d=random_date(d1, d2)
    unixtime = time.mktime(d.timetuple())
    main['date']=d.strftime('%Y/%m/%d')
    main['moddate']=unixtime
    
    main['tags']=random_tags()
    
    # create entry
    entry=[]
    for head in header:
        if head in main.keys():
            entry+=[main[head]]
        else:
            entry+=['']
    data.append(entry[1:])  # add entry to data

In [155]:
df_main=pd.DataFrame(data,columns=header[1:])
df_main

     simid mediawiki path        date       moddate                       tags
0   MK0001    MK0001       2016/05/04  1.462368e+09                    rna,dna
1   MK0002    MK0002       2017/05/11  1.494466e+09                  important
2   MK0003    MK0003       2016/06/19  1.466339e+09
3   MK0004    MK0004       2017/10/16  1.508170e+09                surfactants
4   MK0005    MK0005       2016/09/08  1.473341e+09                  abc,caco3
5   MK0006    MK0006       2017/11/07  1.510084e+09                  dna,caco3
6   MK0007    MK0007       2016/05/10  1.462908e+09
7   MK0008    MK0008       2017/04/12  1.491995e+09        surfactants,dna,ubi
8   MK0009    MK0009       2016/02/12  1.455290e+09        surfactants,rna,ubi
9   MK0010    MK0010       2016/05/30  1.464642e+09                    rna,pic
10  MK0011    MK0011       2016/06/15  1.466011e+09                        dna
11  MK0012    MK0012       2017/10/13  1.507863e+09
12  MK0013    MK0013       2017/07/16  1.500234e+09                      caco3
13  MK0014    MK0014       2017/11/27  1.511781e+09                      caco3
14  MK0015    MK0015       2017/10/22  1.508630e+09                        abc
15  MK0016    MK0016       2016/05/06  1.462498e+09          abc,ubi,important
16  MK0017    MK0017       2016/07/03  1.467577e+09  surfactants,pic,caco3,abc
17  MK0018    MK0018       2016/05/17  1.463484e+09                      caco3
18  MK0019    MK0019       2016/06/11  1.465663e+09
19  MK0020    MK0020       2017/01/08  1.483849e+09                        abc
20  MK0021    MK0021       2016/03/07  1.457379e+09
21  MK0022    MK0022       2017/08/09  1.502315e+09
22  MK0023    MK0023       2016/08/20  1.471679e+09
23  MK0024    MK0024       2017/06/17  1.497719e+09              important,ubi
24  MK0025    MK0025       2017/10/24  1.508842e+09                        pic
25  MK0026    MK0026       2017/01/03  1.483461e+09              rna,important
26  MK0027    MK0027       2017/02/09  1.486662e+09  surfactants,pic,important
27  MK0028    MK0028       2017/02/05  1.486308e+09                    dna,ubi
28  MK0029    MK0029       2016/08/20  1.471727e+09      pic,dna,abc,important
29  MK0030    MK0030       2016/05/08  1.462672e+09
..     ...       ...  ...         ...           ...                        ...
70  MK0071    MK0071       2016/02/04  1.454608e+09                        abc
71  MK0072    MK0072       2016/04/01  1.459480e+09                  caco3,dna
72  MK0073    MK0073       2016/10/15  1.476518e+09
73  MK0074    MK0074       2017/11/13  1.510548e+09                        ubi
74  MK0075    MK0075       2016/01/30  1.454126e+09                        dna
75  MK0076    MK0076       2016/12/28  1.482954e+09          pic,important,dna
76  MK0077    MK0077       2016/10/23  1.477232e+09
77  MK0078    MK0078       2016/10/16  1.476569e+09    caco3,pic,dna,important
78  MK0079    MK0079       2016/09/05  1.473093e+09                  important
79  MK0080    MK0080       2017/12/28  1.514484e+09              rna,pic,caco3
80  MK0081    MK0081       2017/11/02  1.509632e+09      surfactants,important
81  MK0082    MK0082       2016/11/24  1.479950e+09              important,dna
82  MK0083    MK0083       2016/08/22  1.471901e+09            important,caco3
83  MK0084    MK0084       2017/09/30  1.506755e+09      surfactants,abc,caco3
84  MK0085    MK0085       2016/01/15  1.452888e+09              rna,important
85  MK0086    MK0086       2016/05/04  1.462320e+09            important,caco3
86  MK0087    MK0087       2017/01/09  1.483952e+09                    rna,ubi
87  MK0088    MK0088       2016/07/18  1.468870e+09              rna,caco3,ubi
88  MK0089    MK0089       2016/04/15  1.460754e+09              important,ubi
89  MK0090    MK0090       2017/06/10  1.497049e+09              caco3,rna,dna
90  MK0091    MK0091       2016/04/07  1.460007e+09                        pic
91  MK0092    MK0092       2016/11/01  1.478018e+09                        abc
92  MK0093    MK0093       2017/02/16  1.487277e+09              important,dna
93  MK0094    MK0094       2016/09/22  1.474526e+09                    abc,ubi
94  MK0095    MK0095       2017/06/27  1.498589e+09
95  MK0096    MK0096       2017/03/09  1.489066e+09                        dna
96  MK0097    MK0097       2016/04/03  1.459654e+09                    rna,ubi
97  MK0098    MK0098       2017/11/27  1.511796e+09          rna,important,pic
98  MK0099    MK0099       2017/06/15  1.497495e+09                surfactants
99  MK0100    MK0100       2017/02/03  1.486150e+09        surfactants,rna,dna

[100 rows x 6 columns]

## create data keywords

In [156]:
def random_keywords():
    """returns a dict of random keywords"""
    atuple=[
        ['linker','a'],
        ['linker','b'],
        ['linker','c'],
        ['linker','d'],
        ['pH','7'],
        ['pH','8'],
        ['pH','9'],
        ['Temp','300'],
        ['Temp','500'],
        ['concentration','1'],
        ['concentration','2'],
    ]
    num_keys=randrange(0,5)  # number of keys
    keywords={}
    for _ in range(num_keys):
        i = randrange(0,len(atuple)-1)
        t = atuple[i]
        keywords[t[0]]=t[1]
    return keywords

In [157]:
data=[]
for i in df_main.index:
    keywords=random_keywords()
    for k,v in keywords.iteritems():
        data.append([i,k,v])

In [158]:
df_keywords=pd.DataFrame(data,columns=header_keywords)
df_keywords

     main_id            key  val
0          0             pH    8
1          0         linker    c
2          1             pH    8
3          1         linker    d
4          1           Temp  500
5          2  concentration    1
6          2             pH    7
7          2           Temp  500
8          3             pH    7
9          3         linker    d
10         4  concentration    1
11         4         linker    c
12         5             pH    9
13         5         linker    c
14         5           Temp  300
15         7         linker    c
16         8             pH    9
17         8         linker    a
18         9  concentration    1
19         9         linker    b
20        10         linker    c
21        10           Temp  500
22        11             pH    8
23        11         linker    c
24        12             pH    8
25        14  concentration    1
26        14         linker    d
27        15             pH    9
28        16         linker    c
29        17         linker    d
..       ...            ...  ...
133       85             pH    7
134       85           Temp  300
135       86  concentration    1
136       86         linker    c
137       87         linker    c
138       88  concentration    1
139       88         linker    c
140       88           Temp  500
141       89             pH    7
142       89         linker    a
143       89  concentration    1
144       90           Temp  300
145       91             pH    8
146       91         linker    c
147       91           Temp  300
148       92         linker    d
149       93             pH    8
150       93           Temp  300
151       94  concentration    1
152       94         linker    d
153       94           Temp  500
154       96             pH    7
155       96         linker    b
156       97             pH    9
157       97         linker    d
158       97           Temp  300
159       98         linker    b
160       98           Temp  500
161       99             pH    8
162       99           Temp  300

[163 rows x 3 columns]

## Save table

In [159]:
from sqlalchemy import create_engine
import os

In [160]:
if os.path.exists(db): # check if old
    os.remove(db) # remove

### save main

In [161]:
table = table_main  # set table name
df    = df_main     # set dataframe
kwargs={}
defaults={'if_exists' : 'replace'}
kwargs=dict(defaults,**kwargs)

In [162]:
# create the engine    
engine = create_engine('sqlite:///{}'.format(db))
# save dataframe        
df.to_sql(table,engine,**kwargs)

### save keywords

In [163]:
table = table_keywords  # set table name
df    = df_keywords     # set dataframe
kwargs={}
defaults={'if_exists' : 'replace'}
kwargs=dict(defaults,**kwargs)

In [164]:
# create the engine    
engine = create_engine('sqlite:///{}'.format(db))
# save dataframe        
df.to_sql(table,engine,**kwargs)